<h4>BLTouchKlipper Settings</h4>
Enter the GCODE commands necessary for the BLTouch to work with your firmware.  Default settings are for Klipper.
<form class="form-horizontal" id="settings_plugin_BLTouchKlipper_form">
	<div class="control-group">
		<label class="control-label">{{ _('Probe Up') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.BLTouchKlipper.cmdProbeUp"></input>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Probe Down') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.BLTouchKlipper.cmdProbeDown"></input>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Self Test') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.BLTouchKlipper.cmdSelfTest"></input>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Home All') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.BLTouchKlipper.cmdHomeAll"></input>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Probe Bed') }}</label>
		<div class="controls">
			<textarea rows="3" class="input-block-level" data-bind="value: settings.plugins.BLTouchKlipper.cmdProbeBed"></textarea>
		</div>
	</div>
    <div class="control-group">
		<label class="control-label">{{ _('Repeatibility Test') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.BLTouchKlipper.cmdRepeatability"></input>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Save') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.BLTouchKlipper.cmdSaveSettings"></input>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Confirmations') }}</label>
		<div class="controls">
				<input type="checkbox" data-bind="checked: settings.plugins.BLTouchKlipper.confirmation" title="If enabled Self Test, Release Alarm, Probe Bed, and Save commands above will show confirmation prompt."/>
		</div>
	</div>
</form>
